<div class="main_fr f_r">
    <div class="uc_title m_10">
        <label class="current"><span>我的众筹订单</span></label>
    </div>

    <div class="box m_10">
        <table class="list_table" width="100%" cellpadding="0" cellspacing="0">
        	<col width="180px" />
            <tr>
                <th>订单编号</th>
                <th>下单日期</th>
                <th>姓名</th>
                <th>支付方式</th>
                <th>总金额</th>
                <th>订单状态</th>
            </tr>

            {set:$page= (isset($_GET['page'])&&(intval($_GET['page'])>0))?intval($_GET['page']):1;}
            {set:$user_id = $this->user['user_id']}
            {query: name=fund_order order=id desc where=user_id eq $user_id page=$page}
            <tr>
                <td>
                	<a href="{url:/ucenter/orderfund_detail/id/$item[id]}" class="orange">{$item['order_no']}</a>
                </td>
                <td>{$item['create_time']}</td>
                <td>{$item['accept_name']}</td>
                <td>{query:name=payment where=id eq $item[pay_type] item=$ddd}
                {$ddd['name']}
                {/query}</td>
                <td>￥{echo:sprintf("%01.2f",($item['order_amount']))}</td>
                <td>
                	<b class="orange">{echo:Order_Class::orderStatusText(Order_Class::getOrderStatus($item))}</b>
                </td>
            
            </tr>{/query}
            <tfoot><tr><td colspan="6" class="t_l">{$query->getPageBar()}</td></tr></tfoot>
        </table>
    </div>
</div>