<div class="headbar">
	<div class="position"><span>项目</span><span>></span><span>咨询管理</span><span>></span><span>咨询列表</span></div>
	<div class="operating">
		<!-- <a href="javascript:void(0)" onclick="event_link('{url:/project/project_edit}')"><button class="operating_btn" type="button"><span class="addition">添加项目</span></button></a> -->
		<a href="javascript:void(0)" onclick="selectAll('id[]');"><button class="operating_btn" type="button"><span class="sel_all">全选</span></button></a>
		<a href="javascript:void(0)" onclick="delModel();"><button class="operating_btn" type="button"><span class="delete">批量删除</span></button></a>
	</div>
	<div class="field">
		<table class="list_table">
			<col width="40px" />
			<col width="250px" />
			<col width="120px" />
			<col width="150px" />
			<col width="120px" />
			<col width="150px" />
			<col width="120px" />
			<col />
			<thead>
				<tr>
					<th class="t_c">选择</th>
					<th>咨询项目</th>
					<th>咨询人姓名</th>
					<th>咨询人电话</th>
					<th>咨询人地址</th>
					<th>咨询内容</th>
					<th>咨询时间</th>
					<th>操作</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
<div class="content">
	<form action="{url:/project/project_feedback_del}" method="post" name="article">
		<table class="list_table">
			<col width="40px" />
			<col width="250px" />
			<col width="120px" />
			<col width="150px" />
			<col width="120px" />
			<col width="150px" />
			<col width="120px" />
			<col />
			<tbody>
				{set:$page= (isset($_GET['page'])&&(intval($_GET['page'])>0))?intval($_GET['page']):1;}
				{query: name=feedback as ar join=left join project as ac on ac.id eq ar.project_id order=ar.id desc page=$page fields=ar.id,ar.name,ar.time,ar.mobile,ar.address,ar.question,ac.title}
				<tr>
					<td class="t_c"><input type="checkbox" name="id[]" value="{$item['id']}" /></td>
					<td><a target="_blank" href='{url:/site/project_detail/id/$item[id]}' title='查看'>{echo:Article::showTitle($item['title'],$item['color'],$item['style'])}</a></td>
					<td>{$item['name']}</td>
					<td>{$item['mobile']}</td>
					<td>{$item['address']}</td>
					<td>{$item['question']}</td>
					<td>{$item['time']}</td>
					<td>
						<!-- <a href='{url:/project/project_edit/id/$item[id]}'><img class="operator" src="{skin:images/admin/icon_edit.gif}" alt="编辑" title="编辑" /></a>
						<a target="_blank" href='{url:/site/project_detail/id/$item[id]}'><img class="operator" src="{skin:images/admin/icon_check.gif}" alt="查看" title="查看" /></a> -->
						<a href='javascript:void(0)' onclick="delModel({link:'{url:/project/project_feedback_del/id/$item[id]}'});"><img class="operator" src="{skin:images/admin/icon_del.gif}" alt="删除" title="删除" /></a>
					</td>
				</tr>
				{/query}
			</tbody>
		</table>
	</form>
</div>
{$query->getPageBar()}
